
.hero__content h1{
font-size: 2.5rem;
font-weight: 600;
margin-bottom: 1rem;
color: var(--heading-color);
}

.hero__content h1 .highlight{
    color: var(--primary-color);
}

.hero__content p{
    color: var(--text-color);
}
.hero_img img{ 
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

/* tour carrds */
.services_title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  
   .featured_tour-title{
    font-size: 2.3rem;
    font-weight: 500;
  }
               I
  .experience_content h2{
     font-size: 2.5rem;
     margin-top: 1rem;
     font-weight: 500; 
  }
  
  .experience_content p{
      font-size: 1.1rem;
      color: var(--text-color);
      margin-top: 1rem;
  }
  
  .counter_wrapper{
      margin-top: 2.5rem;
  }
  
  .counter_box span{
      width: 70px;
      height: 70px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 10px 5px 10px 5px;
  }
  
  .counter_box h6{
      font-size: 1.1rem;
      margin-top: 0.7rem;
      color: var(--text-color);
  }
  .experience_img{
  width:90%;
  }
  .backg{
        margin: 0;
        padding: 0;
        background: url("../images/img2.jpg") no-repeat center fixed;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
  }
